# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Bb]uild/
[Dd]ebug*/
[Rr]elease*/

# Visual Studio
.vs/

# Rider
.idea/

# Log files
*.log

# Others
*.cache
*.db
*.pdb
*.mdb
*.bak
*.tmp
